ToDoList/Pods/SwiftLint
ToDoList/Pods/Target Support Files
ToDoList/Pods/Pods.xcodeproj/xcuserdata
ToDoList/ToDoList.xcworkspace/xcuserdata
ToDoList/ToDoList.xcodeproj/xcuserdata
ToDoList/.DS_Store
.DS_Store
ToDoList/ToDoList.xcodeproj/project.xcworkspace/xcuserdata/svysotsky.xcuserdatad/UserInterfaceState.xcuserstate
